

.aboutsvg{
    width: 400px;
}
.awesome-sec-img{
    height: 200px;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: start;
}
.contact-icons{
    display: flex !important;
    justify-content: center;
    align-items: start;
    font-size: 55px !important;
    color: #407bff;
}
.d-flex li{
    text-align: center;
}
.contact-form{
    border-radius: 10px;
}
.btn-send{
    height: 50px;
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 30px;
}
.btn-send:hover{
    color: white;
    background-color: #407bff;
}
.GeneratedMarquee {
    /* font-family:'Comic Sans MS'; */
    font-size:3em;
    line-height:1em;
    color:#fff;
    /* background-color:#FFFFCC; */ 
    padding:10px;
}
.service_img{
    max-width: 75%;
}

.teamimg{
    width: 275px;
    height: 350px;
}
.img-circle{
    width: 100px;
}
.contact-form {
    display: flex;
}
.shopify{
    width: 25px;
}
.media.service-box:hover .pull-left > i>svg>path {
	background:#407BFF;
	fill: #fff;
}
@media all and (min-width: 299px) and (max-width: 479px) {
    h2{
        font-size: 25px;
    }
    #features .nav-tabs{
        display: flex;
    }
    #features .nav-tabs > li > a {
        width: 100%;
        height: 60px;
        line-height: 25px;
        font-size: 32px;
        padding: 15px;
    }
    .contact-form {
        display: block;
    }
    .contact-icons{
        display: inline-flex !important;
        justify-content: center;
        align-items: start;
        font-size: 30px !important;
        color: #407bff;
    }
    .contact-sec-1 ul li {
        display: block;
        padding-bottom: 10px;
    }
    .social-icon{
        padding: 0px;
    }
    .media.service-box {
        margin: 8px 0;
    }
    .heading p {
        padding: 0px 0px;
    }
    .GeneratedMarquee {
        font-size: 2em;
    }
    #footer-down ul li a i.fa {
        color: #999;
        font-size: 16px;
        border: 2px solid #999;
        height: 35px;
        width: 35px;
        border-radius: 50px;
        padding: 25%;
    }
    #footer-down h2 {
        color: #444;
        margin: 10px 0px 15px 0px;
        text-transform: none;
    }
}